html{
    padding: 0;
    margin: 0;
}
body{
    /* background-color: rgb(247, 246, 244); */
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;
    color:rgb(27, 27, 27);
    margin: 0;
}

.nav{
    height: 7vh;
    width: 100%;
    background-color: rgb(241, 241, 241);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav > div{
    margin: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.sound span{
    cursor: pointer;
}

.nav > div > a:first-child {
    font-size: 20px;
    text-decoration: none;
    color: rgb(77, 77, 77);
}

h1{
    font-weight: 400;
    font-size: 50px;
}

.reading{
    border: 0px solid rgb(248, 235, 220);
    border-radius: 10px;
    /* background-color: rgb(250, 245, 240);
    box-shadow: 2px 2px 2px rgb(250, 221, 182); */
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

.reading img{
    width: 500px;
}

.header{
    /* background-color: cadetblue; */
    min-height: 10vh;
    text-align: center;
}

.sub-header{
    font-size: 20px;
    font-style: italic;
}

.content{
    /* background-color: cornflowerblue; */
    min-height: 70vh;
    padding: 30px;
    font-weight: 100;
    font-size: 16px;
    text-align: justify;
    line-height: 22px;
    width: 100%;
    max-width: 600px;
}

.content > ol,ul > li {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 50px;
}

.content > ol,ul > li > p {
    font-weight: 300;
    font-size: 16px;
}





/* ============= Blog list START =============== */
.blog-list{
    min-height: 80vh;
    height: auto;
    width: 100%;
    max-width: 600px;
    margin-top: 100px;
}

.blog-list .blog{
    margin-bottom: 50px;
    display: flex;
    border: 0px solid red;
}

.blog-list .blog-image{
    margin-right: 30px;
    width: 120px;
    height: auto;
    border: 0px solid black;
}

.blog-list .blog-image > img {
    width: 100px;
    height: auto;
}

.blog-list .blog-details{
    max-width: 500px;
    width: 100%;
    border: 0px solid rgb(30, 197, 8);
}

.blog-list .blog-details > div{
    font-style: italic;
    font-size: 14px;
    text-align: justify;
    margin-top: 10px;
    line-height: 20px;
    color: rgb(138, 137, 137);
}

.blog-list .blog-details > a{
    text-decoration: none;
    font-size: 18px;
    color:rgb(2, 2, 218);
}
/* ============= Blog list END =============== */
.blog-list{
    min-height: 80vh;
    height: auto;
    width: 100%;
    max-width: 600px;
    margin-top: 100px;
}

.blog{
    margin-bottom: 50px;
}

.blog > a{
    font-size: 24px;
    color:rgb(2, 2, 218);
}

.affiliate{
    border: 0px solid red;
    display: flex;
    flex-direction: column;
    color: rgb(153, 151, 151);
    font-style: italic;
    font-size: 14px;
    padding: 10px;
    background-color: rgb(224, 222, 222);
}

.affiliate > div:nth-child(1){
    margin-bottom: 10px;
}

.affiliate > div:nth-child(2){
    border: 0px solid rgb(60, 7, 206);
    display: flex;
    justify-content: space-evenly;
}

.book-review{
    border: 0px solid red;
    display: flex;
    flex-direction: column;
    font-style: italic;
    font-size: 14px;
    padding: 10px;
    background-color: rgb(224, 222, 222);
    max-width: 500px;
    width: 100%;
}

.book-review > div:nth-child(1){
    margin-bottom: 10px;
}

.book-review > .books{
    border: 0px solid rgb(60, 7, 206);
    display: flex;
    justify-content: space-evenly;
}

audio{
    margin-top: 50px;
}

audio::-webkit-media-controls-panel {
    /* background: linear-gradient(rgb(222, 234, 245), rgb(0, 132, 255)) */
    background: linear-gradient(rgb(232, 247, 237), rgb(77, 247, 134))
}

.joinus{
    display: flex;
    flex-direction: column;
    background-color: #d3d3d3;
    padding: 10px;
    width: 60%;
    max-width: 400px;
    box-shadow: 1px 1px 1px #838282;
}

.joinus input{
    margin-bottom: 5px;
}

.button{
    background-color: #007bff;
    color: white;
    font-size: 24px;
    text-decoration: none;
    border-radius: 2px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    border-color: #026fe4;
    cursor: pointer;
}

.thankyou{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(rgb(77, 247, 134), rgb(232, 247, 237));
    padding: 10px;
    width: 60%;
    max-width: 400px;
    height: 300px;
    box-shadow: 1px 1px 1px rgb(64, 204, 111);
    color:brown;
    font-size: 24px;
    margin-top: 50px;
}

.thankyou > a{
    font-size: 14px;
}



@media only screen and (max-width: 600px) {

    h1{
        font-weight: 400;
        font-size: 36px;
    }

    .reading{
        width: 95%;
    }

    .reading img{
        width: 200px;
    }

    .header{
        font-size: 18px;
    }

    .sub-header{
        font-size: 16px;
        font-style: italic;
    }

    .content{
        padding: 22px;
        font-size: 18px;
        line-height: 23px;
        font-weight:300;
    }

.content > ol,ul > li{
  line-height:25px;
}

.content > ol,ul > li > p{
  font-weight:300;
  font-size:18px;
  line-height:23px;
}
    

.blog-list{
    margin-top: 50px;
}

.blog-list .blog{
    margin-bottom: 50px;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.blog-list .blog-image{
    margin-right: 0px;
    width: 200px;
}

.blog-list .blog-image > img {
    width: 200px;
    height: auto;
}

.blog > a{
    font-size: 20px;
}

.blog > div{
    font-size: 14px;
    margin-top: 10px;
    line-height: 20px;
}

.affiliate > div:nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: center;
}
.affiliate > div:nth-child(2) a{
    margin-bottom: 5px;
}

.book-review > div:nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: center;
}
.book-review > div:nth-child(2) a{
    margin-bottom: 5px;
}

audio{
    width:250px;
    max-width: 80%;
}

.thankyou{
    font-size: 20px;
}
  }
