<div class="affiliate">
    <div>The below 3 images are affiliate link to amazon.in. It will open amazon.in once you click on those.</div>
    <div>
        <a href="https://amzn.to/3txTWEn" target="_blank"><img src="https://ethnic-affiliate.s3.ap-south-1.amazonaws.com/Everyday_Hero.jpg" width="100px" /></a>
        <a href="https://amzn.to/3FzniVp" target="_blank"><img src="https://ethnic-affiliate.s3.ap-south-1.amazonaws.com/atomic_habits.jpg" width="100px" /></a>
        <a href="https://amzn.to/3tystm8" target="_blank"><img src="https://ethnic-affiliate.s3.ap-south-1.amazonaws.com/11min.jpg" width="100px" /></a>
    </div>
</div>